<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eBooking.Properties.Settings.EbookingConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Ebooking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>